// COLORS
$color-primary: #f76707;
$color-primary-light: #ff922b;
$color-primary-dark: #d9480f;

$color-secondary-light: #8ce99a;
$color-secondary-dark: #228e36;

$color-tertiary-light: #05a3f2;
$color-tertiary-dark: #047cb8;

$color-grey-light-1: #fafafa;
$color-grey-light-2: #d7d7d7;

$color-grey-dark: #626262;
$color-grey-dark-2: #444444;
$color-grey-dark-3: #1c1c1c;

$color-white: #fff;
$color-black: #0d0d0d;

// FONT
$default-font-size: 1.6rem;

//BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
