header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 1rem 2rem;
  // background-color: rgba($color-grey-light-1, 0.9);
  background-color: rgba($color-primary, 0.9);
  box-shadow: 0px 3px 5px rgba($color-black, 0.15);
  color: $color-grey-dark-2;
  position: relative;

  &__container {
    display: flex;
    gap: 7.2rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 3.6rem;
      background-color: rgba($color-primary, 0.8);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(10px);
      position: absolute;
      top: 0;
      right: 0;
      width: 0%;
      height: 100vh;

      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in;

      /* 1) Hide it visually */
      opacity: 0;

      /* 2) Make it unaccessible to mouse and keyboard */
      pointer-events: none;

      /* 3) Hide it from screen readers */
      visibility: hidden;
    }
  }

  &__home {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    // color: $color-grey-dark-2;
    color: $color-white;
    backface-visibility: hidden;

    &-logo {
      display: block;
      height: 5rem;
      // background-color: rgba($color-grey-light-2, 0.2);
      background-color: rgba($color-white, 0.95);
      padding: 0.5rem;
      border-radius: 50%;
      box-shadow: 0px 1px 5px rgba($color-black, 0.15);
      backface-visibility: hidden;
      transition: all 0.2s;
    }

    &:hover &-logo {
      transform-origin: center center;
      transform: scale(1.06) translateX(-8%);
      box-shadow: 0px 2px 8px rgba($color-black, 0.15);
    }

    &-text {
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: 800;
      backface-visibility: hidden;
      transition: all 0.2s;
    }

    &:hover &-text {
      // color: $color-primary;
      color: $color-secondary-light;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.4rem;
      flex-direction: column;
    }

    &-item {
      a {
        padding: 1.2rem 0;
        cursor: pointer;
        transition: all 0.2s;
        color: $color-grey-light-1;
      }

      &::after {
        content: "";
        display: block;
        height: 0.5px;
        width: 0%;
        // border-top: 1.5px solid $color-primary;
        border-top: 1.5px solid $color-white;
        transition: all 0.2s;
      }

      &:first-child {
        color: $color-grey-dark-3;

        &:hover {
          background-position: 100%;
          // color: $color-primary;
          color: $color-secondary-light;
          &::after {
            width: 100%;
          }
        }

        &::after {
          width: 80%;
        }
      }

      &:hover {
        a {
          // color: $color-primary;
          color: rgba($color-secondary-light, 0.85);
        }
        &::after {
          content: "";
          display: block;
          height: 0.5px;
          width: 50%;
          // border-top: 1.5px solid $color-primary;
          border-top: 1.5px solid rgba($color-secondary-light, 0.85);
        }
      }
    }
  }
}

.nav-open {
  .btn-mobile-nav {
    background-color: transparent;
    &::before {
      top: 0;
      transform: rotate(135deg);
    }
    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
  .nav__container {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    width: 75%;
  }
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;

  @media only screen and (max-width: $bp-medium) {
    display: block;
    width: 2rem;
    height: 2px;
    background-color: $color-white;
    position: relative;
    align-self: center;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.25rem;
      background-color: $color-white;
      display: inline-block;

      @media only screen and (max-width: $bp-large) {
        height: 0.3rem;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;

      @media only screen and (max-width: $bp-large) {
        top: -1rem;
      }
    }
    &::after {
      top: 0.8rem;

      @media only screen and (max-width: $bp-large) {
        top: 1rem;
      }
    }
  }
}
