.hero {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-white, 0.92),
      rgba($color-grey-light-1, 0.92)
    ),
    url(../img/insanaulia-building.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 88.83%,
    2.22% 88.6%,
    4.44% 88.61%,
    6.67% 88.85%,
    8.89% 89.32%,
    11.11% 89.99%,
    13.33% 90.82%,
    15.56% 91.76%,
    17.78% 92.77%,
    20% 93.78%,
    22.22% 94.74%,
    24.44% 95.59%,
    26.67% 96.29%,
    28.89% 96.8%,
    31.11% 97.08%,
    33.33% 97.13%,
    35.56% 96.94%,
    37.78% 96.52%,
    40% 95.9%,
    42.22% 95.1%,
    44.44% 94.18%,
    46.67% 93.19%,
    48.89% 92.17%,
    51.11% 91.2%,
    53.33% 90.31%,
    55.56% 89.57%,
    57.78% 89.02%,
    60% 88.68%,
    62.22% 88.57%,
    64.44% 88.71%,
    66.67% 89.07%,
    68.89% 89.65%,
    71.11% 90.41%,
    73.33% 91.31%,
    75.56% 92.29%,
    77.78% 93.31%,
    80% 94.29%,
    82.22% 95.2%,
    84.44% 95.98%,
    86.67% 96.58%,
    88.89% 96.98%,
    91.11% 97.14%,
    93.33% 97.06%,
    95.56% 96.75%,
    97.78% 96.22%,
    100% 95.5%
  );

  padding: 4.8rem 0;
  height: 85vh;

  @media only screen and (max-width: $bp-medium) {
    height: 90vh;
  }

  &__heading {
    // color: $color-grey-dark-3;
  }
  &__subheading {
    color: $color-grey-dark-3;
    background-color: transparent;
    border-left: 3px solid $color-primary-light;
    font-weight: 800;
    @media only screen and (max-width: $bp-medium) {
      border: none;
      text-align: center;
      font-size: 4.8rem;
      line-height: 1.2;
    }
  }

  &__desc {
    color: $color-grey-dark;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.8rem;
      text-align: center;
    }
  }

  &__container {
    max-width: 110rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    padding-bottom: 3.2rem; //For Clip path
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      padding: 0;
      grid-template-columns: auto;
      gap: 7.2rem;
    }
  }

  &__text-box {
    @media only screen and (max-width: $bp-medium) {
      padding: 0 12.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media only screen and (max-width: $bp-small) {
      padding: 0 3.2rem;
    }
  }

  &__img-box {
    display: grid;
    position: relative;
    place-items: end;
    // @media only screen and (max-width: $bp-medium) {
    //   display: none;
    //   visibility: hidden;
    // }
  }

  &__img {
    width: 100%;
    border-radius: 100%;
    border: 5px dotted $color-primary-light;
    padding: 0.8rem;
    @media only screen and (max-width: $bp-medium) {
      border-radius: 0;
      border: none;
      padding: 0;
      filter: brightness(90%);
    }
  }

  .container-btn {
    display: flex;
    gap: 2.4rem;
  }
}

.container-img {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
