body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-black;
}

a {
  text-decoration: none;
  color: $color-black;
}

.heading-primary {
  color: $color-white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3.6rem;
  line-height: 1.5;
  background-color: rgba($color-primary-light, 0.5);
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;

  display: inline-block;
  color: rgba($color-secondary-dark, 0.95);
  padding: 0 1rem;
  background-color: $color-white;
  box-shadow: 0 0.5rem 6rem rgba($color-black, 0.2);
  &--alt {
    text-transform: none;
    font-weight: 600;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  color: $color-grey-dark-3;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  color: $color-grey-dark-3;
  line-height: 1.2;

  &--alt {
    color: $color-grey-dark-3;
  }
}
